@using bem_brasil.DataFinal
@model Produto
@{
    ViewData["Title"] = "Tela Brinquedo";
}


<div id="container">

	<!-- Start	Product details -->
	<div class="product-details text-center" >

		<!-- 	Product Name -->
		<h1 style="margin-bottom:20px">@Model.Titulo</h1>
		<!-- 		<span class="hint new">New</span> -->
		<!-- 		<span class="hint free-shipping">Free Shipping</span> -->
		<!-- 		the Product rating -->
		<!-- The most important information about the product -->
		<p class="information">" @Model.Descricao "</p>



		<!-- 		Control -->
		<div class ="control">

			<!-- Start Button buying -->
			
			<!-- End Button buying -->
			<a id="backColor" class="btn btn-primary" style="background-color: #FFF" onclick="changeImage()">
				<img id="myImage" src="/img/heart-icon-dark.png" width="30" height="30"/>
			</a>
			
		</div>
		<p class="nomeAnunc">Anunciado por: Adalberto Quintino</p>
	</div>

	<!-- 	End	Product details   -->
	<!-- 	Start product image & Information -->

	<div class="product-image">

		<img class="imagem-produto" src="@Model.LinkImagem" alt="Omar Dsoky">

		<!-- 	product Information-->
		<div class="info">
			<ul>
				<li><strong>QUANTIDADE: </strong>@Model.QtdProduto</li>
				<li><strong>VALIDADE: </strong>@Model.Validade</li>
				<li><strong>LOCALIZAÇÃO: </strong><span>@Model.Rua @Model.NumeroCasa, @Model.Bairro - @Model.Cidade</span></li>
			</ul>
		</div>
	</div>
	<!--  End product image  -->

</div>
   
<script src="//code.tidio.co/tcvwinlxerme5l5mxfpwjtfcobgqlinm.js" async></script>



